pre,
code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
  /* background-color: #183549  */
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

code[class*="language-"],
pre[class*="language-"] {
  /* color: rgb(248, 248, 242);  */
  /* background-color: rgb(39, 40, 34); tab-size: 4; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body {
  font-family: lato, sans-serif;
}

.gradient {
  background-image: linear-gradient(to right, #b589d6, #10a33c);
}

.header {
  padding-top: 92px;
}

.title {
  color: #10a33c;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 20px 20px;
}

.subtitle {
  color: #fcf8e3;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 20px 20px;
}

.subtitle {
  color: #000;
}

.gh-btns {
  margin: 92px 0 0;
  /*background: #E4DEFF;*/
  padding: 20px 0 10px;
  color: #000;
}

.wrap {
  margin: 0 auto 90px;
  max-width: 540px;
  padding: 0 15px;
}

p {
  color: #333;
  font-size: 18px;
  line-height: 1.7;
}

a {
  color: #10a33c;
  border-bottom: 1px;
}
a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.7;
}

h3 {
  color: #333;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-family: "Simonetta", "Roboto", "Roboto Slab", "Kotta One", Consolas,
    Monaco, "Courier New", Courier, monospace;
  margin-top: 80px;
  color: #10a33c;
}

body {
  font-size: 20px;
  font-family: lato, sans-serif;
  /* background-color: #FFF6E7; */
  /* background-color: #A6CEE3 */
  /* background-image: linear-gradient(to right, #BEBADA, #A6CEE3); */
  /* background-image: linear-gradient(to right, #A6CEE3,#E6F5D0 ); */
  /* background-image: linear-gradient(to right,#FFFFBF, #E6F598); */
  /* background-color: #bfcae5; */
}

footer {
  font-size: 0.9em !important;
}

dt {
  font-weight: 400;
}

.zoomlink {
  font-size: 2em;
}

.zoomlink:hover {
  font-size: 1.9em;
  cursor: pointer;
}

a:hover {
  color: #3288bd;
}

#wrapperbox {
  background: #fcf8e3;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */
  overflow: hidden;
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  min-height: 480px;
  max-width: 880px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
